.section-bg {
  background-color: white;
  width: 500px;
  padding: 50px;
  display: flex;
  margin: 100px auto;
  justify-content: center;
  text-align: center;

  box-shadow: 0px 3px 8px rgba(1, 1, 1, 0.54);
}
.counter {
  font-size: 54px;
  font-weight: 700;
  line-height: 2;
  padding: 30px;
  flex-basis: 200px;
}

.js-decrement,
.js-increment {
  align-self: center;
  flex-basis: 30%;
}
