.header {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 58px;
}

.site-nav,
.menu {
  display: flex;
  align-items: center;
}

.menu {
  position: relative;
  margin-left: auto;
  margin-right: 53px;

  &::after {
    content: ' ';
    width: 19px;
    height: 1px;
    background-color: var(--color-basic);
    transform: rotate(90deg);
    position: absolute;
    right: -26px;
  }
}

.menu__link {
  padding: 15px;
  color: var(--color-basic);
  transition: color 300ms linear;

  &:hover,
  :focus {
    color: var(--color-brand);
  }
}

.menu__icon {
  fill: currentColor;
}

.logo {
  color: var(--color-basic);
  font-weight: 700;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  padding: 18px 0;
  transition: color 300ms linear;
  text-decoration: none;

  &:hover,
  :focus {
    color: var(--color-brand);
  }
}

.header__text {
  display: block;
  color: var(--color-basic);
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}

.header__link {
  padding-top: 18px;
  padding-bottom: 18px;
  color: var(--color-basic);
  transition: color 300ms linear;

  &:hover,
  :focus {
    color: var(--color-brand);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms linear;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  padding-top: 30px;
  padding-bottom: 30px;
  position: absolute;
  width: 444px;
  background-color: var(--color-basic);
  top: 54%;
  left: 50%;
  transform: translate(-54%, -50%) scale(1);
  transition: transform 500ms linear, visibility 500ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.close__link {
  color: var(--color-brand);
  transition: color 300ms linear;
  margin-left: auto;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;

  &:hover,
  :focus {
    color: var(--color-brand-dark);
  }
}

.modal__title {
  color: var(--color-text);
  font-weight: 400;
  font-size: 20px;
  line-height: 1;

  &::before {
    content: ' ';
    display: block;
    width: 18px;
    height: 18px;
    background-color: var(--color-brand);
    position: absolute;
    top: 31.5px;
    left: 0;
  }
}

.modal__title--align {
  display: flex;
  margin-bottom: 30px;
}

.form-input {
  padding: 15px;
  width: 100%;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  transition: border 300ms linear;
  margin-bottom: 15px;

  &::placeholder {
    color: var(--color-text-light);
  }

  &:focus {
    border: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
  }
}

.btn {
  padding: 15px;
  width: 100%;
  border-radius: 4px;
  border: none;
  color: var(--color-basic);
  background-color: var(--color-brand);
  transition: background-color 300ms linear;

  &:hover,
  :focus {
    background-color: var(--color-brand-dark);
  }
}

.form__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

.form__checkbox--hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  background-color: var(--color-brand);
}

.form__checkbox--custom {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid #f2f2f2;

  margin-right: 8px;
}

.form__checkbox--checked-icon {
  fill: white;
  visibility: hidden;
}

.form__checkbox--hidden:checked + .form__checkbox--custom {
  background-color: var(--color-brand);
  border: 0;
  background-origin: border-box;
}

.form__checkbox--hidden:focus + .form__checkbox--custom {
  outline: var(--color-brand) 1px solid;
}

.form__checkbox--hidden:checked + .form__checkbox--custom > .form__checkbox--checked-icon {
  visibility: visible;
}

.form__checkbox-link {
  text-decoration: none;
  color: var(--color-brand);
  transition: color 300ms linear;

  &:hover,
  :focus {
    color: var(--color-brand-dark);
  }
}
