:root {
  --color-basic: #ffffff;
  --color-contrast: #000000;
  --color-brand: #3cb878;
  --color-brand-dark: #01813f;
  --color-text: #434343;
  --color-text-light: #bebebe;
  --font-main: "Ubuntu", sans-serif;
}
